@model Capstone.Areas.CMS.Models.DataInfoModel


<div class="modal-body">
    @if (Model.lst.FirstOrDefault().MaQH == null)
    {
        using (Html.BeginForm("SavEditKhoi", "CategoriesManagement", new { returnUrl = ViewBag.ReturnUrl, }, FormMethod.Post, null))
        {
            <div>
                @Html.TextBox("MaKhoiKT", @Model.lst.FirstOrDefault().MaKhoiKT, new { @class = "hide" })
                <label style="font-style:italic">Loại kiến thức</label>
                @Html.TextBox("HnMota", @Model.lst.FirstOrDefault().Mota, new { @class = "form-control" })
                <br />
            </div>
            <div class="modal-footer">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        }
    }
    else
    {
        using (Html.BeginForm("SavEditKhoiKT", "CategoriesManagement", new { returnUrl = ViewBag.ReturnUrl, }, FormMethod.Post, null))
        {
            <div>
                @Html.TextBox("MaKhoiKT", @Model.lst.FirstOrDefault().MaKhoiKT, new { @class = "hide" })
                <label style="font-style:italic"> Chọn loại kiến thức </label>
                @{
                    List<SelectListItem> SelectListItemHeNganh = new List<SelectListItem>();
                    foreach (var item in Model.lstkhoi)
                    {
                        SelectListItem items = new SelectListItem();
                        items.Value = item.MaKhoiKT.ToString();
                        items.Text = item.Mota;

                        SelectListItemHeNganh.Add(items);
                    }
                }
                @Html.DropDownList("MaQH", SelectListItemHeNganh, new { @class = "form-control" })
                <br />

                <label style="font-style:italic"> Tên khối kiến thức </label>
                @Html.TextBox("HnMota", @Model.lst.FirstOrDefault().Mota, new { @class = "form-control" })
            </div>
            <div class="modal-footer">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        }
    }
</div>
