@model Capstone.Areas.CMS.Models.DataInfoModel
@{
    ViewBag.Title = "QuanlyHeNganh";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Areas/CMS/Content/Curriculum/dist/css/TopButton.css">
<link href="~/Areas/CMS/Content/Curriculum/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Quản Lý Hệ Ngành</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                            <li class="breadcrumb-item">Quản lí chung</li>
                            <li class="breadcrumb-item" aria-current="page">Quản lý danh mục</li>
                            <li class="breadcrumb-item active" aria-current="page">QL hệ ngành</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body wizard-content">
                <a href="" style="margin-left:20px; font-size:18px" data-toggle="modal" data-target="#addhenganh">Thêm Hệ Ngành</a>
                <a href="" style="margin-left:20px; font-size:18px" data-toggle="modal" data-target="#addhenganh2">Thêm Hệ</a>
                <a href="" style="margin-left:20px; font-size:18px" data-toggle="modal" data-target="#addhenganh3">Thêm Ngành</a>
                <br />
                <br />
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="vertical-align: middle; text-align:center">STT</th>
                                <th style="vertical-align: middle; text-align:center">Tên khoa</th>
                                <th style="vertical-align: middle; text-align:center">Tên hệ</th>
                                <th style="vertical-align: middle; text-align:center">Tên ngành</th>
                                <th style="vertical-align: middle; text-align:center">Tên rút gọn</th>
                                <th style="vertical-align: middle; text-align:center">Mã đăng ký</th>
                                <th style="vertical-align: middle; text-align:center">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int indexLstnganh = 0;}
                            @foreach (var item in Model.lstnganh)
                            {
                                <tr>
                                    <th style="vertical-align: middle; text-align:center">@Html.Raw(indexLstnganh + 1)</th>
                                    <th style="vertical-align: middle; text-align:center">@item.KHOA</th>
                                    @if (item.MaQH != null)
                                    {
                                        <td style="vertical-align: middle; text-align:center">@item.TenHe</td>
                                        <td style="vertical-align: middle; text-align:center">@item.Mota</td>
                                    }
                                    else
                                    {
                                        <td style="vertical-align: middle; text-align:center">@item.Mota</td>
                                        <td style="vertical-align: middle; text-align:center"></td>
                                    }

                                    <td style="vertical-align: middle; text-align:center">@item.Tenrutgon</td>
                                    <td style="vertical-align: middle; text-align:center">@item.MaDK</td>
                                    <td style="vertical-align: middle; text-align:center">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#edithenganh1" onclick="editEvent(@indexLstnganh)"><img src="~/Areas/CMS/images/IconEdit.png" style="width:25px;"></a>
                                    </td>
                                </tr>
                                indexLstnganh++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*Form them he nganh*@
    <div class="modal fade" id="addhenganh">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#d51c29; color:white">
                    <h4 class="modal-title">Thêm Hệ / Ngành</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                @using (Html.BeginForm("AddHeNganh", "CategoriesManagement", new { returnUrl = ViewBag.ReturnUrl, }, FormMethod.Post, null))
                {
                    <div class="modal-body">
                        <label style="font-style:italic">Chọn khoa</label>
                        @{ List<SelectListItem> SelectListItemKho = new List<SelectListItem>();
                            foreach (var item in Model.lstkhoa)
                            {
                                SelectListItem items = new SelectListItem();
                                items.Value = item.MaKhoa.ToString();
                                items.Text = item.TenKhoa;

                                SelectListItemKho.Add(items);
                            }
                        }
                        @Html.DropDownList("HnKhoa", SelectListItemKho, new { @class = "form-control" })
                        <br />
                        <label style="font-style:italic">Tên hệ</label>
                        @Html.TextBox("HnTenhe", null, new { @class = "form-control" })
                        <br />
                        <label style="font-style:italic">Tên ngành</label>
                        @Html.TextBox("HnMota", null, new { @class = "form-control" })
                        <br />
                        <label style="font-style:italic">Tên rút gọn</label>
                        @Html.TextBox("HnTenrutgon", null, new { @class = "form-control" })
                        <br />
                        <label style="font-style:italic">Mã đăng ký</label>
                        @Html.TextBox("HnMaDK", null, new { @class = "form-control" })
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Thêm" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
    @*Form them he *@
    <div class="modal fade" id="addhenganh2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#d51c29; color:white">
                    <h4 class="modal-title">Thêm Hệ / Ngành</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                @using (Html.BeginForm("AddHe", "CategoriesManagement", new { returnUrl = ViewBag.ReturnUrl, }, FormMethod.Post, null))
                {
                    <div class="modal-body">
                        <label style="font-style:italic">Chọn khoa</label>
                        @{ List<SelectListItem> SelectListItemKho = new List<SelectListItem>();
                            foreach (var item in Model.lstkhoa)
                            {
                                SelectListItem items = new SelectListItem();
                                items.Value = item.MaKhoa.ToString();
                                items.Text = item.TenKhoa;

                                SelectListItemKho.Add(items);
                            }
                        }
                        @Html.DropDownList("HnKhoa", SelectListItemKho, new { @class = "form-control" })

                        <br />
                        <label style="font-style:italic">Tên hệ</label>
                        @Html.TextBox("HnMota", null, new { @class = "form-control" })
                  
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Thêm" class="btn btn-default" />
                    </div>
                }

            </div>
        </div>
    </div>
    @*Form them he *@
    <div class="modal fade" id="addhenganh3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#d51c29; color:white">
                    <h4 class="modal-title">Thêm Hệ / Ngành</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                @using (Html.BeginForm("AddNganh", "CategoriesManagement", new { returnUrl = ViewBag.ReturnUrl, }, FormMethod.Post, null))
                {
                    <div class="modal-body">
                        <label style="font-style:italic">Chọn hệ</label>

                        @{ List<SelectListItem> SelectListItemHeNganh = new List<SelectListItem>();
                            foreach (var item in Model.lsthe)
                            {
                                SelectListItem items = new SelectListItem();
                                items.Value = item.MaHN.ToString();
                                items.Text = item.Mota;

                                SelectListItemHeNganh.Add(items);
                            }
                        }
                        @Html.DropDownList("MaQH", SelectListItemHeNganh, new { @class = "form-control" })

                        <br />
                        <label style="font-style:italic">Tên ngành</label>
                        @Html.TextBox("HnMota", null, new { @class = "form-control" })
                        <br />
                        <label style="font-style:italic">Tên rút gọn</label>
                        @Html.TextBox("HnTenrutgon", null, new { @class = "form-control" })
                        <br />
                        <label style="font-style:italic">Mã đăng ký</label>
                        @Html.TextBox("HnMaDK", null, new { @class = "form-control" })
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Thêm" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
    @*Form chinh sua he nganh*@
    <div class="modal fade" id="edithenganh1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#d51c29; color:white">
                    <h4 class="modal-title">Chỉnh sửa Hệ / Ngành</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="editcontent"></div>
            </div>
        </div>
    </div>

    @*nut len dau trang*@
    <div class='lentop'>
        <div>
            <img src='~/Areas/CMS/images/top.png' />
        </div>
    </div>
</div>

@*//nut len dau trang*@
<script>
    function editEvent(index) {
        $("#editcontent").load("./CMS/CategoriesManagement/EditHeNganhAction/", { index: index });
    }

    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) $(".lentop").fadeIn();
            else $(".lentop").fadeOut();
        });
        $(".lentop").click(function () {
            $("body,html").animate({ scrollTop: 0 }, "slow");
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#conTent2").hide();
        $('.thongtin').click(function () {
            $("#conTent1").show('slow');
            $("#conTent2").hide();
        });
        $('.duongdan').click(function () {
            $("#conTent2").show('slow');
            $("#conTent1").hide();

        });
    });
</script>

<script src="~/Areas/CMS/Content/Curriculum/assets/libs/toastr/build/toastr.min.js"></script>
