@model Capstone.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="form-items text-center">
    @*<h5 style="font-weight: 600; margin-bottom: 20px;">Tạm thời không đăng ký được, bạn quay lại sau nha!</h5>
    <img src="@Url.Content("~/Content/images/noface.jpg")" style="width: 150px; height: auto;" />*@
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="text-center" style="font-weight: 600; margin-bottom: 20px;">Đăng ký tài khoản</h4>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <form>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Địa chỉ Email", @class = "form-control", required = "required" })
                @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu", @class = "form-control", required = "required" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Nhập lại mật khẩu", @class = "form-control", required = "required" })
                <div class="form-button text-right">
                    <button id="submit" type="submit" class="ibtn">Đăng ký</button>
                </div>
            </form>
            @*<div class="other-links">
                    <div class="text">Or register with</div>
                    <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
                </div>
            <div class="page-links" style="margin-top: 20px;">
                <a href="@Url.Action("Login","Account")">Đăng nhập tài khoản</a>
            </div>*@
        }
    <div class="page-links text-left" style="margin-top: 20px;">
        <a href="@Url.Action("Login","Account")">Đăng nhập tài khoản</a>
    </div>
</div>