@model Capstone.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Thông tin tài khoản";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Thông tin tài khoản</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="@Url.Action("Index", "Manage")">Thông tin tài khoản</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="col-md-6 bg_content">
        <div class="card">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">Đổi mật khẩu</h4>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="card-body p-0">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group row" id="userNameParent">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Mật khẩu hiện tại</label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu hiện tại", required = "required" })
                                </div>
                                <div class="feedback">
                                    Không được để trống
                                </div>
                            </div>
                            <div class="form-group row" id="userPhoneParent">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Mật khẩu mới</label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nhập mật khẩu mới", required = "required" })
                                </div>
                                <div class="invalid-feedback">
                                    Không được để trống
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Xác nhận mật khẩu mới</label>
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu mới", required = "required" })
                                </div>
                            </div>
                            
                        </div>
                    </form>
                    <div class="row m-t-20">
                        <div class="col-md-12" style="text-align: right;">
                            <a href='@Url.Action("Index", "Manage")' class="btn btn-warning">Quay lại</a>
                            <button type="submit" class="btn btn-success">Lưu mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>